<footer class="py-4 text-center text-sm text-gray-500 border-t border-gray-300 mx-8">
    Mov2Gif is an open source project by
    <a href="https://github.com/lanedirt/mov2gif"
       class="text-blue-600 hover:text-blue-800 hover:underline"
       target="_blank"
       rel="noopener noreferrer">Lanedirt</a>
</footer>